/* .wrapper {
  @apply mx-auto my-[30px] w-full md:w-[80%] relative before:absolute before:left-[400px] before:w-[2px] before:h-full before:bg-cover before:top-[0px] before:bg-no-repeat
     before:bg-[url(/images/blueLine.svg)];
} */

/* Tailwind CSS for the wrapper */
.wrapper {
  @apply mx-auto my-[30px] w-full md:w-[80%] relative flex flex-col justify-center lg:items-center;
}

.wrapper::before {
  content: '';
  @apply absolute top-0 left-1/2 transform -translate-x-1/2 w-[2px] h-full bg-cover bg-no-repeat;
  background-image: url('/images/blueLine.svg');
}

.logoTop {
  @apply relative mb-[0px] w-full flex justify-center;
}

.logoTop::before {
  content: '';
  @apply absolute top-[-30px] left-1/2 transform -translate-x-1/2 w-[57px] sm:w-[70px] h-[57px] sm:h-[70px] bg-no-repeat bg-contain;
  background-image: url('/images/blueStar.png');
}

.list {
  @apply relative w-full flex flex-col items-center mt-20;
}
.list::before {
  content: '';
  @apply absolute w-2 h-2 bg-[#2E4169] rounded-full left-1/2 transform -translate-x-1/2 top-[0px];
}

.dotTop {
  @apply relative w-full flex flex-col items-center mt-0;
}
.dotTop::before {
  content: '';
  @apply absolute w-2 h-2 bg-[#2E4169] rounded-full left-1/2 transform -translate-x-1/2 top-[0px];
}

.card {
  @apply w-full grid grid-cols-2 items-center gap-8 mx-auto pb-[30px];
}

.card .left-section {
  @apply flex justify-center;
}

.card .right-section {
  @apply flex justify-center;
}

