@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  overflow-x: hidden;
}
body:has(.openModal) {
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiperSlider {
  @apply relative;
}
.swiperSlider .swiper {
  position: initial !important;
}
.swiperSlider .swiper-wrapper {
  position: initial !important;
}
.swiperSlider .swiper-button-prev,
.swiperSlider .swiper-button-next {
  bottom: -50px;
  top: unset;
}
.swiperSlider .swiper-button-prev {
  left: 0;
}
.swiperSlider .swiper-button-next {
  left: 30px;
}
.swiperSlider .swiper-button-prev::after,
.swiperSlider .swiper-button-next::after {
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}
.swiperSlider .swiper-button-prev::after {
  background-image: url(/images/arrowLeft.svg);
}
.swiperSlider .swiper-button-next::after {
  background-image: url(/images/arrowRight.svg);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e4169;
  border-radius: 8px;
}

/* Hide scrollbar for WebKit-based browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Ensure iframe content can scroll */
.iframe-container {
  overflow: auto;
  height: 350px; /* Set a fixed height if necessary */
}

/* Add this to your global CSS file or a component-specific CSS file */
.mission-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.mission-section.visible {
  opacity: 1;
}
